body {
    font-family: Arial, Helvetica, sans-serif;
}

/* find p tags that are descendents of section tags */
section p {
    font-weight: bold;
}

/* find p tags that are direct children of section tags */
section>p {
    font-weight: bold;
}