body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Your code here */

header {
    background-color: #2D93AD;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
}

section {
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    margin: 20px;
}