@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Mali&family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f3f3;
    margin: 0px;
    color: #444;
}
p, li {
    line-height: 1.5em;
    font-size: 1.1em;
}

a, a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: rgb(87, 87, 210);
    font-weight: 500;
}

a:hover {
    color: rgb(22, 154, 95);
}

header {
    background: rgb(32,200,125);
    background: linear-gradient(90deg, rgba(32,200,125,1) 0%, rgba(9,9,121,1) 100%);
    color: white;
    margin-bottom: 30px;
}
header h1 {
    margin: 0px;
    padding: 40px 0px;
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
}

main, header > div {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}
