@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #fff;
    margin: 0px;
    color: #444;
    background-image: url('white-paper-texture_1194-5306.avif');
}

header div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header img {
    width: 100px;
}

p,
li,
a {
    line-height: 1.4em;
    font-size: 1.1rem;
    margin: 0;
}

a,
a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
    color: #f06154;
    /* font-weight: bold; */
    transition: all 0.3s ease-in-out;
    display: inline-block;
    padding: 2px 0px;
}

a:hover {
    /* color: white;
    background: #f06154;
    padding: 2px 10px 2px 10px; */
    text-decoration: underline;
}


.intro {
    margin: 70px 0 50px 0;
}

/* ul {
    list-style-type: none;
    padding-left: 15px;
} */

header {
    background: #444;
    color: white;
    margin-bottom: 30px;
}

header h1 {
    margin: 0px;
    padding: 40px 0px;
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
    margin-bottom: 10px;
}

h3 {
    /* font-family: 'Amatic SC', cursive; */
    font-size: 1.3em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0px;
    /* color: #f06154; */
}

main,
header>div {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

main {
    margin-bottom: 30vh;
}



main>section {
    border-radius: 5px;
    padding: 15px;
}

main section h2 {
    margin-top: 0;
}

.my-work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.my-work>section {
    margin: 0vh 0;
    /* border: dashed #CCC 2px; */
    background: rgba(255, 255, 255, 0.5);
    padding: 15px;
    border-radius: 5px;
}

.my-work h2 {
    margin-bottom: 20px;
}


footer {
    background-color: #f06154;
    text-align: center;
    color: white;
    padding: 50px;
}

@media screen and (max-width: 800px) {
    .my-work {
        grid-template-columns: 1fr;
        padding: 0vh 5vw;
    }

    .my-work>section {
        margin: 0vh 0;
        border: dashed #CCC 0px;
        padding: 15px;
    }

    main {
        padding: 0vh 2vw;
    }
}