@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
    box-sizing: border-box;
}

main section {
    padding: 20px;
    background-color: white;
    border: 4px solid tomato;
    border-radius: 6px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    width: 18%;
}


main {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}