@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

/* SET UP */

* {
    box-sizing: border-box;
}

ul {
    padding-left: 1.5rem;
}

body {
    font-family: "Poppins", sans-serif;
    color: #333;
    background-color: snow;
    margin: 0 auto;
    max-width: 1000px;
}

header,
main,
footer {
    border: solid 2px coral;
    padding: 10px;
}

header {
    height: 20vh;
}

main {
    height: 70vh;
}

/* target any div that has an ancestor of main */
main div {
    display: none;
}

footer {
    height: 10vh;
}

@media screen and (max-width: 800px) {

    header {
        /* background-color: #333;
        color: white; */
        display: none;
    }

    main {
        background-color: #ddd9d9;
        height: 90vh;
    }

    main div {
        display: block;
    }

    footer {
        background: coral;
        color: white;
    }

}

@media screen and (max-width: 600px) {
    /*when the width gets to 600px, change the main's
    background color to hotpink*/

    
}