@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

/* SET UP */

* {
  box-sizing: border-box;
}

ul {
  padding-left: 1.5rem;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  background-color: snow;
  margin: 0 auto;
  max-width: 1000px;
}

.item {
  padding: 8px;
  background-color: white;
  border: 4px solid tomato;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.height-50 {
  height: 50vh;
}

/* Task 3 */

.container {
    display: grid;
    grid-template-columns: 200px auto 25%;
    grid-template-rows: 10% 10% 70% 10%;
    border: solid 1px black;
    height: 100vh;
    row-gap: 15px;
    column-gap: 15px;
}

.header {
    grid-row-start: 1;
    grid-column-start: 1;
    /* grid-column-end: span 3; */
    grid-column-end: 4;
    background-color: #CCC;
}

.navigation {
    grid-row-start: 2;
    grid-column-start: 2;
    background-color: #CCC;
}

.sidebar {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column: 1;
    background-color: #CCC;
}


@media (max-width: 1020px) {
}


@media (max-width: 720px) {
}